<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Doctor</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body style="background-color: #FAF3E0;">

{% for i in lenghtprob %}
  <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
    Username Is Already Taken.
</div>
  {% endfor %}

{% for i in reg_doc %}
  <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
    Username Is Already Taken.
</div>
  {% endfor %}

  <div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow rounded" style="width: 300px;">
  <form action="/adddoctor"  method="POST">
      <h3 style="font-family:Georgia, 'Times New Roman', Times, serif; text-align: center;">Doctor Details</h3><br>
    <div class="mb-3">
      <label class="form-label">Doctor Name</label>
      <input type="text" class="form-control" name="name">
    </div>
    <div class="mb-3">
      <labelclass="form-label">Doctor Username</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="mb-3">
      <label class="form-label">Department</label>
       <input type="text" class="form-control" name="department">
    </div>
    <div class="mb-3">
      <label class="form-label">Doctor Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left: 5.5vw;">Add Doctor</button><br>
  </form>
  </div>
  </div>
</body>
</html>
